certifi==2020.6.20
chardet==3.0.4
cvlib==0.2.5
cycler==0.10.0
idna==2.10
imageio==2.9.0
imutils==0.5.3
kiwisolver==1.2.0
matplotlib==3.3.2
numpy==1.19.2
opencv-python==4.4.0.42
Pillow==7.2.0
progressbar==2.5
pyparsing==2.4.7
python-dateutil==2.8.1
requests==2.24.0
six==1.15.0
urllib3==1.25.10
